<!DOCTYPE html>
<html lang="en">
<head>
    <title>Club Membership Vue</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  <!-- Adds Vue.js src to file -->

    <style>

        .selected {
            text-decoration: line-through ;
            font-style: italic;
            color: gray;
        }

        input {
            width: 100%;
            padding: 5px;
            margin: 5px 5px 5px 0px;
            box-sizing: border-box;
        }

    </style>

</head>
<body>

<div id="app"> <!-- this div contains all the HTML Vue manages -->
    <h1>Student Club Roster</h1>

    <h2>Add Students</h2>

    <label for="student-name">Student Name</label>
    <!-- Use v-model to connect this input to a ref called newStudentName -->
    <input v-model="newStudentName" id="student-name" name="student-name">

    <br>

    <label for="student-id">Student ID</label>
    <!-- Use v-model to connect this input to a ref called newStudentId -->
    <input v-model="newStudentID" id="student-id" name="student-id">

    <br>

    <label for="student-gpa">Student GPA</label>
    <!-- Use v-model to connect this input to a ref called newStudentGpa -->
    <input v-model="newStudentGPA" id="student-gpa" name="student-gpa" type="number">

    <br>

    <!-- Use v-on to call addNewStudent function. -->
    <button v-on:click="addNewStudent" id="add-student">Add Student</button>

    <h2>Student List</h2>

    <p>There is/are
        <span v-bind="studentCount" id="student-count">
        <!-- Computed property called studentCount display the student count here -->
        {{studentCount}}
        </span>
        student(s) in the club.</p>


    <ul id="student-list">
        <!-- v-for to create li elements, one for each student -->
        <li v-for="student in studentList" v-on:click="selectOrUnselectStudent(student)" v-bind:class="{ selected: student.selected }">  <!-- click event handler calls selectOrUnselectStudent function.  Adds class-selected if selected. -->
            Name: {{ student.name }} Student Id: {{ student.studentId}} GPA: {{ student.studentGpa}}  <!-- displays listed info -->
        </li>
    </ul>

    <!-- v-on click event handler to call removeSelectedStudents function -->
    <button v-on:click="removeSelectedStudents" id="remove-selected-students">Remove selected students</button>

</div>  <!-- end of div#app -->

<script>

    const { createApp, ref, computed } = Vue  // import these functions into the VueApp

    createApp({  // this creates the Vue app that manages the data on the page AND the HTML.  it will manage the data for the page, and all the HTML in the div #app.
        setup() {

            // Create a new ref studentList. This is an array holding the 2 example objects listed below:
            const studentList = ref([
                {name: 'A. Student', studentId: 'aa1234zz', studentGpa: '3.0'},
                {name: 'B. Student', studentId: 'bb1234zz', studentGpa: '4.0'},
            ])

            // Creates a new ref newStudentName, initially an empty string
            const newStudentName = ref('')
            // Creates a new ref newStudentId, initially an empty string
            const newStudentID = ref('')
            // Creates a new ref newStudentGpa, initially an empty string
            const newStudentGPA = ref('')

            // Creates an errors ref array, initially empty
            const errors = ref([])

            // Creates a computed property studentCount. This is set to the length of the student list.
            const studentCount = computed( () => {
                return studentList.value.length
            })

            const addNewStudent = () => {  // defines addNewStudent function starts with error handling below:

                errors.value = []
                // Set the errors value to an empty array
                if (newStudentName.value.length == 0){
                    errors.value.push('Student name must be entered')
                }

                if (newStudentID.value.length == 0){
                    errors.value.push('Student id must be entered')
                }

                if (newStudentGPA.value.length == 0){
                    errors.value.push('Student GPA must be entered')
                }

                if (newStudentGPA.value < 0) {
                    errors.value.push('Student GPA must be between 0 - 4.0')
                }
                else if (newStudentGPA.value > 4) {
                    errors.value.push('Student GPA must be between 0 - 4.0')
                }

                // Checks the length of errors array. If it is more than 0, displays an alert with the error messages.
                if (errors.value.length > 0) {
                    alert(errors.value.join('\n'))
                } else {
                    // Create a new student object with properties name, id, gpa, selected.
                    const newStudent = {
                        name: newStudentName.value,
                        studentId: newStudentID.value,
                        studentGpa: newStudentGPA.value,
                        selected: false
                    }

                    newStudent.selected = false  // sets newStudent.selected to boolean false
                    studentList.value.push(newStudent)  // pushes newStudent object to studentList ref array.

                    newStudentName.value = ''       // Sets the values of newStudentName, newStudentId, newStudentGpa to empty strings, to clear the form
                    newStudentID.value = ''
                    newStudentGPA.value = ''

                }
            }

            function removeSelectedStudents() {  // defines the removeSelectedStudents function
                studentList.value = studentList.value.filter(student => !student.selected)  // filter method to filter out unselected students and sets the studentList.value to these students that are left over
            }

            const selectOrUnselectStudent = (student) => {
                // If the selected property is true, it is changed to false.
                // if the selected property is false, it is changed to true.
                student.selected = !student.selected
            }


            return {        // Returns all refs, functions and computed properties
                studentList,
                newStudentName,
                newStudentID,
                newStudentGPA,
                addNewStudent,
                removeSelectedStudents,
                selectOrUnselectStudent,
                studentCount
            }
        } // end of setup function
    }).mount('#app')  // connect to the HTML in the div #app - all the HTML for this page.


</script>

</body>
</html>